<section data-ng-controller="ExperiencesController"> 
    <h2><a href="/#!/">Home</a></h2>   
    <h1> New Expirence </h1>
    <form data-ng-submit="create()" novalidate>
        <div>
            <label for="company_name">Company Name</label> 
            <div>
                <input type="text" data-ng-model="company_name" id="company_name" placeholder="Company Name" required>
            </div>
        </div>
        <div>
            <label for="city">City</label> 
            <div>
                <input type="text" data-ng-model="city" id="city" placeholder="City" required>
            </div>
        </div>
        <div>
            <label for="country">Country</label> 
            <div>
                <input type="text" data-ng-model="country" id="country" placeholder="Country" required>
            </div>
        </div>
        <div>
            <label for="position">Position</label> 
            <div>
                <input type="text" data-ng-model="position" id="position" placeholder="Position" required>
            </div>
        </div>
        <div>
            <label for="start_date">Start date</label> 
            <div>
                <input type="date" data-ng-model="start_date" id="start_date" placeholder=">Start date" required>
            </div>
        </div>
        <div>
            <label for="end_date">End date</label> 
            <div>
                <input type="date" data-ng-model="end_date" id="end_date" placeholder=">End date" required>
            </div>
        </div>
        <div>
            <label for="details">Details</label>
            <div>
                <textarea data-ng-model="details" id="details" cols="30" rows="10" placeholder="Details"></textarea>
            </div>
        </div>
        <div>
            <input type="submit">
        </div>
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
</section>