<section data-ng-controller="ExperiencesController" data-ng-init="findEnroll()">
    <div class="navbar navbar-static">
        <!-- Creating navigation bar -->
        <div class="row green">
            <div data-ng-show="authentication.user ">
                <div class="navbar-text">
                    <img src="./img/CollegeLogo.png">
                </div>
                <div class="navbar-text ">
                    <h4 data-ng-show="authentication.user && authentication.user.userType == 0">Hello, <span data-ng-bind="authentication.user.fullName"></span> (Staff)</h4>
                    <h4 data-ng-show="authentication.user && authentication.user.userType == 1">Hello, <span data-ng-bind="authentication.user.fullName"></span> (Student)</h4>
                </div>
                <div class="navbar-text pull-right">
                    <a href="/signout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <h2><a href="/#!/">Home</a></h2>

    <div class="row" data-ng-show="authentication.user && authentication.user.userType == 1">
        <div class="col-md-12">
            <h1>My Cousers</h1>
            <ul class="list-group">
                <li data-ng-repeat="experience in enrollments" class="list-group-item" ng-show="experience.grade == -1">
                    <div class="row">
                        <div class="col-md-5" >
                            <span data-ng-bind="experience.course.name"></span>
                        </div>
                        <div class="col-md-4">
                            <span data-ng-bind="experience.course.professor"></span>
                        </div>
                        <div class="col-md-3">
                            <small data-ng-bind="experience.created | date: 'medium'"></small>
                        </div>
                    </div>
                </li>
            </ul>            
        </div>
    </div>
  
</section>