    <html>
    <head>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
        <link rel="shortcut icon" href="./img/Favicon.PNG"/>     <!-- Adding website's favicon -->
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
    <div>
        <section ng-view></section>
    </div>
    </div>
    </div>
    </div>
    
    <script type="text/javascript">
        window.user = <%- user || 'null' %>;
    </script>
    
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/experiences/experiences.client.module.js"></script>
    <script type="text/javascript" src="/experiences/controllers/experiences.client.controller.js"></script>
    <script type="text/javascript" src="/experiences/services/experiences.client.service.js"></script>
    <script type="text/javascript" src="/experiences/config/experiences.client.routes.js"></script>
    <script type="text/javascript" src="/example/example.client.module.js"></script>
    <script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
    <script type="text/javascript" src="/example/config/example.client.routes.js"></script>
    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>    
    <script type="text/javascript" src="/application.js"></script>
    </body>
    </html>