<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
        <link rel="shortcut icon" href="./img/Favicon.PNG"/>     <!-- Adding website's favicon -->
    <title>
        <%=title %>
    </title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <div class="row">
            <div class="col-md-8 col-md-offset-2">
    <div class="navbar navbar-static">
        <!-- Creating navigation bar -->
        <div class="row green">
            <div data-ng-show="authentication.user">
                <div class="navbar-text">
                    <img src="./img/CollegeLogo.png">
                </div>                          
            </div>
        </div>
    </div>
    </div>
    </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/signin" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="ID Number" name="username" type="text" autofocus="">
                                </div>
                                <div class="">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <% for(var i in messages) { %>
                                            <div class="flash">
                                                <span><%= messages[i] %></span>
                                            </div>
                                            <% } %>
                                    </label>
                                </div>
                                <div>
                                    <input type="submit" value="Log in" />
                                </div>
                                <div>
                                    <em><a href="/signup">Create new Account</a></em>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>